/* Products Css Start Here */
.accessories-products .head h3 {
    font-family: 'Montserrat';
}
.accessories-products .head {
    padding-bottom: 20px;
}
.accessories-products #accordion .card {
    border: 0;
    margin-bottom: 10px;
}
.accessories-products #accordion .card .card-body {
    padding: 0;
}
.accessories-products #accordion .card .card-header {
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #cccccc7d;
    padding: 10px 0;
}
.accessories-products #accordion .card .card-header button.btnn.btn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
}
.accessories-products #accordion .card .card-header button.btnn.btn-link h6 {
    margin-bottom: 0;
    color: #000;
    font-family: 'Poppins';
}
.accessories-products #accordion .card .card-header button.btnn.btn-link p {
    margin-bottom: 0;
}
.accessories-products #accordion .card .form-check label.form-check-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accessories-products #accordion .card .form-check {
    border-bottom: 1px solid #EBEBEB;
    padding: 12px 0px 12px 20px;
}
.accessories-products #accordion .card .form-check label.form-check-label .name span {
    font-size: 13px;
    font-family: 'Poppins';
    color: #898989;
    font-weight: 600;
}
.accessories-products #accordion .card .form-check label.form-check-label .products-count span {
    font-family: 'Montserrat';
    color: #B6B6B6;
    font-size: 14px;
}
.accessories-products .vertical-line {
    background: #0000002e;
    width: 1px;
    height: 100%;
    margin: 0px auto;
}
.accessories-products .TopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #70707061;
    padding-bottom: 15px;
}
.accessories-products .TopBar .heading h5 {
    line-height: 0;
}
.accessories-products .TopBar .filter-btn button {
    background: #000000;
    border: 0;
    color: #fff;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 50px;
}
.accessories-products .TopBar .filter-btn button i {
    font-size: 14px;
    padding-left: 10px;
}
.accessories-products .card {
    margin-bottom: 30px;
}
/* Products Css End Here */

/* Media Query Start Here */
@media (max-width:450px) {
    .accessories-products .TopBar {
        display: block;
        text-align: center;
    }
    .universal-banner h2.title {
        font-size: 45px;
    }
}
/* Media Query End Here */