body {
    background-color: #f9f9f9;
}
.img-tls {
    display: none;
}
figure {
    padding: 0;
}
/* Table Css Start Here */
.bookmark .tableDv .button-group a.btn.grey {
    background: #EEEEEE;
    color: #000;
}
.bookmark .heading {
    padding-bottom: 40px;
}
.bookmark table {
    width: 100%;
}
.table-responsive {
    display: table;
}
.bookmark .tableDv {
    background: #fff;
    margin: 0 70px;
    padding: 35px 30px;
    border-radius: 20px;
}
.bookmark .products .productDetail .product-detail {
    display: flex;
    align-items: center;
}
.bookmark .products .productDetail .product-detail .img-box {
    min-width: 140px;
}
.bookmark .products .productDetail img.img-fluid {
    width: 70px;
    object-fit: cover;
    margin-top: 15px;
}
.bookmark table tr.topbar {
    border-bottom: 1px solid #C5C5C5;
    height: 40px;
}
.bookmark .products {
    height: 130px;
    border-bottom: 1px solid #C5C5C5;
}
.bookmark .tableDv th.productDetail {
    width: 50%;
}
.bookmark .tableDv .Proprice {
    width: 20%;
}
.bookmark .tableDv .addcart {
    width: 30%;
}
.bookmark .tableDv .addcart .ActionBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bookmark table tr.topbar .productDetail {
    text-align: center;
}
.bookmark .tableDv .addcart .ActionBtn .cartBtn p {
    margin-bottom: 0;
    font-size: 17px;
}
.bookmark .tableDv .addcart .ActionBtn .cartBtn p button ,
.bookmark .tableDv .addcart .ActionBtn .cartBtn p a {
    color: #e7adc4;
    background-color: transparent;
    border: none;
}
.bookmark .tableDv .addcart .ActionBtn .cartBtn p i {
    font-size: 15px;
}
.bookmark .tableDv .addcart .ActionBtn .deleteBtn i {
    color: #e7adc4;
    cursor: pointer;
}
.bookmark .tableDv .button-group {
    margin-top: 30px;
}
.bookmark .tableDv .button-group a.btn {
    background: #000000;
    border-radius: 40px;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
.bookmark .tableDv .button-group a.btn.grey {
    background: #EEEEEE;
    color: #000;
}
@media (max-width: 991px) {
    .bookmark .tableDv {
        margin: 0;
        padding: 20px 20px;
    }
}
@media (max-width: 768px) {
    .bookmark .products .productDetail .product-detail {
        display: block;
        text-align: center;
    }
    .bookmark .products .productDetail .product-detail .img-box img {
        width: 80px;
    }
    .bookmark .tableDv th.productDetail {
        width: auto;
    }
    .bookmark .tableDv .Proprice {
        width: auto;
    }
    .bookmark .tableDv .addcart {
        width: auto;
    }
    .bookmark .tableDv .Proprice h5 {
        font-size: 13px;
    }
    .bookmark .tableDv .addcart .ActionBtn .cartBtn p {
        font-size: 12px;
    }
    .bookmark table tr.topbar .productDetail {
        font-size: 11px;
    }
    .bookmark .tableDv .Proprice {
        font-size: 11px;
    }
    .bookmark .tableDv .addcart {
        font-size: 11px;
        text-align: center;
    }
    .bookmark .tableDv .button-group a.btn {
        width: 100%;
        margin: 5px auto;
        display: table;
    }
}
@media (max-width: 575px) {
    .table-responsive {
        display: block;
    }
}
@media (max-width: 400px) {
    .bookmark .tableDv .addcart .ActionBtn {
        display: block;
    }
    .bookmark .tableDv .addcart .ActionBtn .cartBtn p i {
        display: none;
    }
    .bookmark .tableDv .addcart .ActionBtn .cartBtn p {
        font-size: 10px;
    }
    .bookmark .tableDv .Proprice h5 {
        font-size: 10px;
    }
    .bookmark .products .productDetail .product-detail .name p {
        font-size: 10px;
    }
}
/* Table Css End Here */
