/* Candels Css Start Here */
figure {
    padding: 0;
}
.top-left {
    top: 40%;
    left: 35px;
}
.summer-candels .heading h2,.qualities .heading h2 {
    line-height: 30px;
}
.card .card-body {
    background: #F6F6F6;
}
a.btnn {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0px auto;
    display: table;
    transition: 0.6s;
    border: 2px solid #000;
    margin-top: 60px;
}
a.btnn:hover {
    background: #0000;
    color: #000;
}
.qualities .heading {
    padding-bottom: 50px;
}
.qualities .quality-box {
    padding: 0 50px;
}
.qualities .img-box figure img {
    width: 100%;
}
.qualities .quality-box .title {
    text-align: center;
    padding-top: 15px;
}
.qualities .quality-box .title h5 {
    line-height: 10px;
    font-size: 15px;
    font-weight: 500;
}
.qualities .quality-box .title h4 {
    font-size: 20px;
}
/* Candels Css End Here */

/* Media Query Start Here */
@media (max-width:1101px) {
    .qualities .quality-box {
        padding: 0 20px;
    }
}
@media (max-width:992px) {
    .summer-candels .card {
        margin-bottom: 20px;
    }
    .qualities .quality-box {
        padding: 20px 100px;
    }
    .ple-0{
        padding: 0 !important; 
     }
}
@media (max-width:768px) {
    .candelsBanner .box {
        margin-bottom: 20px;
    }
}
@media (max-width: 321px) {
    .qualities .quality-box {
        padding: 20px 50px;
    }
    .candelsBanner .box img {
        height: 290px !important;
    }
    .candelsBanner .box h2 {
        font-size: 24px;
    }
} 
/* Media Query Start Here */