/* begin of home made section  */
figure{
    padding: 0px;
}
.homemade-img img {
    width: 100%;
}
.homemade-text h3 {
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}
.homemade-text h3 span {
    font-weight: 600;
}
.homemade-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.homemade-btn {
    display: flex;
}

.homemade-btn .btn1 button,
.homemade-btn a {
    width: 200px;
    margin-right: 20px;
    margin-top: 20px;
}
.homemade-btn .btn1 button,
.homemade-btn .btn1 a {
    background-color: #E7ADB3;
    border: 1px solid #e7adb3;
}
.homemade-btn a svg {
    margin-left: 5px;
}
.homemade-qty .quantity input {
    width: 10%;
    border-radius: unset;
}
.ht-both figure {
    padding: 0 !important;
}
.ht-both {
    display: flex;
    align-items: center;
    padding-right: 39px;
}
.all-home-ht {
    display: flex;
    margin-top: 40px;
}
.ht-both h5 {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}
section.homemade-sec .row {
    display: flex;
    align-items: center;
}
.homemade-icon {
    display: flex;
}
.homemade-icon ul {
    display: flex;
    list-style: none;
}
.homemade-icon ul li a {
    font-size: 19px;
    padding: 10px 5px;
    color: #000;
}
.homemade-icon {
    display: flex;
    margin-top: 40px;
}
/* end of home section  */

/* begin of accordin section  */
.faq-sec .hrLine {
    background: #70707057;
    padding: 0.4px;
}
.faq-sec .card-header {
    background-color: transparent;
}
.faq-sec .card {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000 !important;
}
.card .card-body {
    font-size: 13px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}
.card .card-header {
    padding-left: 0 !important;
}
.faq-sec div#headingThree3 {
    padding-left: 0;
    padding-right: 0;
}
.faq-sec .card-header {
    padding-left: 0;
}
.faq-sec .card-header {
    padding-left: 0;
    border: 0;
    padding-right: 0;
}
.faq-sec .card-header h5 {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-sec .card-header h5 {
    color: #000 !important;
}
.faq-sec .card .card-header a[aria-expanded="true"] i:before {
    content: "\f00d ";
    font-size: 14px;
}
section.faq-sec .row .col-md-6 {
    padding: 40px 70px;
}
/* end of accordin section  */

/* begin of price product section  */
.pp-img img {
    width: auto;
    border: 1px solid #E7ADB3;
    border-radius: 50%;
}
.pp-img h3 {
    font-size: 20px;
    font-weight: 400;
}
.pp-img a {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.pp-img {
    text-align: center;
}
section.priceProducts {
    background-color: #FEF2F1;
    padding: 70px 20px;
}
section.priceProducts h2 {
    line-height: 36px;
}
.faq-sec .card-body a {
    color: #DFABAE;
    display: block;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 600;
}
@media (max-width: 991px) {
    section.faq-sec .row .col-md-6 {
        padding: 40px 10px;
    }
}
@media (max-width: 768px) {
    .homemade-btn {
        display: block;
    }
}
@media (max-width: 480px) {
    .all-home-ht {
        display: block;
    }
    .all-home-ht  .ht-both {
        margin-bottom: 10px;
    }
    .card .card-body {
        padding: 10px 0;
    }
    section.faq-sec .row .col-md-6 {
        padding: 0 10px;
    }
    .faq-sec div#headingThree3 {
        border-bottom: 1px solid #000;
    }
}
/* end price picture section  */

