/* Profile Css Start Here */
figure {
    padding: 0;
}
h3 {
    font-size: 23px;
}
.hide {
    display: none;
}
.show {
    display: block !important;
}
.profileActions .nav-pills a.nav-link {
    background: transparent;
    color: #717171;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 7px 0 7px 40px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    position: relative;
}
.profileActions .nav-pills a.nav-link span {
    background: #0000001a;
    width: 12px;
    height: 12px;
    position: absolute;
    box-shadow: -1px 1px 0px 0px #00000026;
    top: 15px;
    left: 0;
}
.profileActions .nav-pills a.nav-link.active span:before {
    content: '';
    background: #000;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.1px;
    margin: 0px auto;
}
.profileActions .nav-pills a.nav-link.active {
    color: #000;
}
.profileActions .vertical-Line {
    position: absolute;
    right: 0;
    top: 0;
    height: 29rem;
    width: 0.5px;
    background: #0000002e;
}
/* First Tab Css Start Here */
.profileActions .profileDeatils .Box {
    background: #f5f5fb4f;
    padding: 20px 20px;
    box-shadow: 0px 0.5px 2px 0px #acacacb0;
}
.profileActions .profileDeatils .BoxOne {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.profileActions .profileDeatils .BoxOne .imgBox img {
    width: 60px;
}
.profileActions .profileDeatils .Box .txtDetail .head {
    display: flex;
    align-items: center;
}
.profileActions .profileDeatils .Box .txtDetail .head h5 {
    margin-bottom: 0;
    padding-right: 20px;
    font-size: 16px;
    color: #4A4A4A;
    font-family: 'Poppins';
}
.profileActions .profileDeatils .Box .txtDetail .head  button.editt {
    font-size: 15px;
    color: #0070EF;
    font-family: 'Poppins';
    font-weight: 600;
    text-decoration: underline;
    background: transparent;
    padding: 0;
    border: 0;
}
.profileActions .profileDeatils .Box .txtDetail .value {
    padding-top: 25px;
}
.profileActions .profileDeatils .Box .txtDetail .value h6 {
    color: #777777;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 400;
}
.profileActions .profileDeatils .button-group button {
    width: 200px;
    background: #000000;
    border: 0;
    color: #fff;
    padding: 12px 0;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
}
.profileActions .profileDeatils {
    background: #fff;
    box-shadow: 0px 0.6px 6px 0px #70707073;
    padding: 20px 20px;
    border-radius: 10px;
}
.profileActions .addressBook .addressDv {
    box-shadow: 0px 1px 6px #ccc;
    padding: 20px 20px;
}
.profileActions .addressBook .addressDv h5 {
    font-size: 18px;
    color: #4A4A4A;
    padding-bottom: 10px;
}
.profileActions .addressBook .addressDv table tr.topBar {
    background: #FBFBFB;
    height: 45px;
    border: 12px solid #fbfbfb;
    box-shadow: 0px 0px 0px 7px #cfcfcf ;
}
.profileActions .addressBook .addressDv table  tr {
    height: 90px;
}
.profileActions .addressBook .addressDv table .name {
    width: 20%;
}
.profileActions .addressBook .addressDv table .address {
    width: 35%;
}
.profileActions .addressBook .addressDv table .region {
    width: 35%;
}
.profileActions .addressBook .addressDv table .actnBtn {
    width: 10% !important;
    text-align: right;
}
.profileActions .addressBook .addressDv table tr.topBar th {
    color: #777777;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
}
.profileActions .addressBook .addressDv table tr td p {
    font-size: 12px;
    color: #777777;
}
.profileActions .addressBook .addressDv table button {
    padding: 0;
    border: 0;
    background: transparent;
    color: #0070EF;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
}
/* First Tab Css End Here */

/* Second tab Css Start Here */
.profileActions .orderDetailDv {
    box-shadow: 0px 0px 6px 0px #ddd;
    border-radius: 10px;
    background: #fff;
    padding: 20px 20px;
}
.profileActions .orderDetailDv .aboutOrder .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 15px;
}
.profileActions .orderDetailDv .aboutOrder .topBar .orderNumberDate .orderNo {
    display: flex;
    align-items: center;
}
.profileActions .orderDetailDv .aboutOrder .topBar .orderNumberDate .orderNo .property h5 {
    font-size: 15px;
    color: #090909;
    padding-right: 20px;
}
.profileActions .orderDetailDv .aboutOrder .topBar .orderNumberDate .orderNo .value h5.Number {
    font-size: 13px;
    color: #0070EF;
}
.profileActions .orderDetailDv .aboutOrder .topBar .orderNumberDate .date p {
    font-size: 13px;
    color: #818181;
    margin-bottom: 0;
}
.profileActions .orderDetailDv .aboutOrder .topBar .actionBtn a {
    color: #0070EF;
    font-size: 13px;
    font-weight: 600;
}
.profileActions .orderDetailDv .aboutOrder .productview {
    display: flex;
    align-items: center;
}
.profileActions .orderDetailDv .aboutOrder .productview .img-box {
    min-width: 90px;
}
.profileActions .orderDetailDv .aboutOrder .productview img {
    width: 70px!important;
    object-fit: cover!important;
    margin-top: 15px!important;
}
.profileActions .orderDetailDv .aboutOrder .productview .img-box figure img {
    width: 100%;
}
.profileActions .orderDetailDv .aboutOrder  .Productstable {
    padding-top: 20px;
    border-bottom: 1px solid #EBEBEB;
}
.profileActions .orderDetailDv .aboutOrder .Productstable:last-child {
    border: 0;
}
.profileActions .orderDetailDv .aboutOrder .productview .contentDv p {
    font-size: 12px;
    color: #1F2C35;
    padding-left: 15px;
}
.profileActions .orderDetailDv .aboutOrder .qtyDv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.profileActions .orderDetailDv .aboutOrder .qtyDv input {
    width: 50px;
    border-radius: 0;
    background: transparent;
    text-align: center;
    font-size: 15px;
    color: #818181;
    font-weight: 500;
}
.profileActions .orderDetailDv .aboutOrder .qtyDv label {
    margin-bottom: 0;
    font-size: 15px;
    color: #090909;
    font-weight: 600;
    font-family: 'Poppins';
}
.profileActions .orderDetailDv .aboutOrder .status .tag {
    background: #343436;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 7px 0;
    border-radius: 50px;
    margin: 14px 0;
}
.profileActions .orderDetailDv .aboutOrder .deliveredDate p {
    font-size: 12px;
    color: #818181;
}
/* Second tab Css End Here */

/* For Edit Profile Css Start Here */
.profileActions .editProfileDv {
    box-shadow: 0px 0.6px 6px 0px #70707073;
    padding: 30px 20px;
    background: #FFFFFF;
    border-radius: 10px;
    display: none;
}
.profileActions .editProfileDv .form-group label {
    font-size: 12px;
    color: #777777;
    font-weight: 600;
}
.profileActions .editProfileDv .form-group .form-control {
    border-radius: 0;
    background: transparent;
    border: 1px solid #CFCFCF;
    padding: 0px 20px;
    color: #BBBBBB;
}
.profileActions .editProfileDv .form-group .form-control::placeholder {
    color: #BBBBBB;
    font-size: 11px;
}
.profileActions .editProfileDv .form-group .input-group input#day {
    margin: 0 10px;
}
.profileActions .editProfileDv .form-group input#gender {
    width: 60%;
}
.profileActions .editProfileDv  .button-group button {
    background: #000;
    color: #fff;
    border: 0;
    padding: 8px 45px;
    font-size: 15px;
    border-radius: 5px;
}
/* For Edit Profile Css End Here */

/* For Email Verification Css Start Here */
.profileActions .verification {
    text-align: center;
}
.profileActions .verification .verifyBox {
    background: #F5F5FB;
    padding: 30px 50px;
    margin: 0 8rem;
}
.profileActions .verification .verifyBox .img-box {
    margin-bottom: 30px;
}
.profileActions .verification .verifyBox p {
    margin-bottom: 35px;
}
.profileActions .verification .verifyBox .form-group .form-control {
    border-radius: 50px;
    padding: 30px 35px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
}
.profileActions .verification .verifyBox .form-group .form-control.black {
    background: #000;
    color: #fff;
}
.profileActions .verification .verifyBox .form-group .form-control.black::placeholder {
    color: #fff;
}
.profileActions .verification .verifyBox .form-group .form-control.transparent {
    background: #fff;
    border: 2px solid #000;
    color: #000;
}
.profileActions .verification .verifyBox .form-group .form-control.transparent::placeholder {
    color: #000000;
}
/* For Email Verification Css End Here */
@media (max-width: 991px) {
    .profileActions .verification .verifyBox {
        margin: 0 0rem;
    }
    .profileActions .profileDeatils .Box .txtDetail .head {
        display: block;
    }
    .profileActions .profileDeatils .BoxOne {
        display:block;
    }
    .profileActions .profileDeatils .BoxOne .imgBox {
        display: none;
    }
    .profileActions .profileDeatils .Box .txtDetail .head h5 {
        padding-right: 0px;
        font-size: 12px;
    }
    .profileActions .profileDeatils .Box {
        padding: 20px 5px;
    }
    .profileActions .editProfileDv .form-group input#gender {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .profileActions .vertical-Line {
        display:none;
    }
}
@media (max-width: 480px) {
    .profileActions .orderDetailDv .aboutOrder .topBar {
        display: block;
    }
    .profileActions .orderDetailDv .aboutOrder .productview .contentDv p {
        padding-left: 0;
    }
    .profileActions .orderDetailDv .aboutOrder .productview {
        display: block;
    }
    .profileActions .orderDetailDv .aboutOrder .productview .img-box figure img {
        width: 20%;
        margin: 0px auto;
        display: flex;
    }
    .universal-banner h2.title {
        font-size: 45px;
    }
}
/* Profile Css End Here */
